<div class="alert alert-success" role="alert" *ngIf="isShowSuccess">
  {{ message }}
</div>
<form [formGroup]="blogform" (ngSubmit)="onSubmit()">
  <input type="hidden" formControlName="id" />
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" placeholder="Enter Title..." formControlName="title">
  </div>
  <div class="form-group">
    <label for="content">Content</label>
    <textarea id="content" cols="30" class="form-control" placeholder="What do you think?..."
              formControlName="body" rows="10"></textarea>
  </div>
  <div class="text-center">
    <button class="btn btn-primary mr-1">Update</button>
  </div>
</form>


